<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/hibernatedb</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">tiger</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hbm2ddl.auto">create</property>
        <!--<mapping class="com.home.hibernate.Domain.Department"/>
        <mapping class="com.home.hibernate.Domain.Employee"/>
        <mapping class="com.home.hibernate.Domain.Address"/>-->
        <mapping class="com.home.hibernate.Domain.Post"/>
        <mapping class="com.home.hibernate.Domain.Comment"/>
    </session-factory>
</hibernate-configuration>